body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.canvas__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#canvas {
  height: 100%;
  width: 100%;
  display: block;
}
