body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.canvas__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#canvas {
  height: 100%;
  width: 100%;
  display: block;
}
