body {
  margin: 0;
  padding: 0;
  height: calc(var(--vh) * 100);
  width: calc(var(--vw) * 100);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.canvas__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#canvas {
  height: 100%;
  width: 100%;
  display: block;
}
#logs {
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  font-size: 16px;
}
